

.text-muted {
    color: #979797 !important;
}

.sidebar {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* Toma el 100% de la altura de la ventana */
    width: 222px;
    /* Ancho del sidebar */
}


.sidebar-header h2 {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
    padding: 15px 10px;
}

.nav-link.active {
    color: white !important;
    background-color: #ff9900;
    border-radius: 4px;
}




.card-body {
    text-align: center;
}

.btn-light {
    background-color: #575656;
    color: white;
    border: none;
}


body {
    background-color: #302f2f;
    color: white;
}



.card {
    background-color: #222222;
    border: none;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #2c2c2c;
    color: white;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    padding: 15px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.default-image {
    width: 100%;
    height: auto;
    max-height: 100px; 
}


.modal-content img {
    width: 100%;         
    height: auto;       
    max-height: 300px;   
    object-fit: cover;   
    border-radius: 8px;  
    margin-bottom: 12px;
}

.modal-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.tab-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
}

.tab-button.active {
    border-bottom: 2px solid orange;
    font-weight: bold;
}

.tab-content {
    display: none;
    flex-direction: column;
    /* align-items: center; */
}


.close-modal {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    z-index: 1001;
}

/* Estilo para la sección con scroll en el historial */
.records-history-container {
    max-height: 300px; 
    overflow-y: auto;
    padding-right: 10px; /* Evitar que el scroll tape el contenido */
}



#history-list-container {
    max-height: 400px; /* Ajusta la altura máxima según lo necesario */
    overflow-y: auto;  /* Habilita el desplazamiento vertical */
    padding-right: 10px; /* Añade espacio a la derecha */
    width: 100%; /* Asegura que ocupe todo el ancho */
}



@media (max-width: 767px) {

    #sidebarMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100vh;
        z-index: 1045;
        /* Para asegurar que esté encima de otros elementos */
        transform: translateX(-100%);
        /* Oculto fuera de la pantalla */
        transition: transform 0.3s ease;
    }

    #sidebarMenu.collapse.show {
        transform: translateX(0);
        /* Muestra el menú */
    }

    /* Fondo semitransparente para la pantalla cuando el menú está abierto */
    .collapse.show~.content-overlay {
        display: block;
    }

    .content-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1044;
        /* Justo debajo del menú */
    }

    #sidebarMenu .btn-dark[data-bs-toggle="collapse"] {
        font-size: 1.5rem;
        color: #ffffff;
        background: none;
        border: none;
    }

    .dashboard {
        grid-column: 1 / span 1;
        grid-template-columns:100%;
    }

}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color:  #ff9900;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
