body {
    background-color: #282828;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #ffbe46;
}

button {
    background-color: #ffbe46;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.session-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.session-card {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.session-card h3 {
    color: orange;
    margin: 0;
}

.session-card p {
    margin: 5px 0;
}

.session-card button {
    background-color: #ffbe46;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.exercises {
    margin-top: 10px;
}

.exercise {
    color: #ddd;
    margin-bottom: 5px;
}

.exercise-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Espacio entre cada ejercicio */
    gap: 10px;
}

.exercise-info {
    color: #ddd;
    margin: 0;
    flex-grow: 1; /* Ocupa todo el espacio disponible a la izquierda */
}

.best-set {
    color: orange; /* Resalta la mejor serie en naranja */
    font-weight: bold;
    margin: 0; /* Elimina margen para evitar desplazamiento vertical */
    text-align: right;
    white-space: nowrap; /* Evita saltos de línea */
}


