/* Estilos generales */
body {
    display: flex;
    background-color: #302f2f;
    color: white;
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    /* color: #ffbe46; */
}

/* button {
    background-color: #ffbe46;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    color: black;
    font-weight: bold;
} */

/* Sidebar */
.sidebar {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* Toma el 100% de la altura de la ventana */
    width: 222px;
    /* Ancho del sidebar */
}

.sidebar-header h2 {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
    padding: 15px 10px;
}

.nav-link.active {
    color: white !important;
    background-color: #ff9900;
    border-radius: 4px;
}

/* Contenedor de las tarjetas */
.session-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

/* Tarjetas individuales */
.session-card {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: transform 0.2s ease;
    flex: 1 1 calc(33% - 1rem);
    margin: 0.5rem;
    min-width: 250px;
    max-width: 340px;
}

.session-card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.session-card:hover {
    transform: scale(1.05);
}

/* Estilos de los textos en la tarjeta */
.session-card h3 {
    color: orange;
    margin: 0;
}

.session-card p {
    margin: 5px 0;
}

.exercises {
    margin-top: 10px;
}

.exercise-name, .best-set {
    margin-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.exercise-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Ajustes para la fila de ejercicios y la mejor serie */
.exercise-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px 0;
    flex-wrap: wrap;
}

.best-set-row {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-left: 10px;
}

.exercise-info {
    color: #ddd;
    margin: 0;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

.best-set {
    color: orange;
    font-weight: bold;
    margin-left: 20px;
    text-align: right;
    white-space: nowrap;
}

/* Responsividad */
@media (max-width: 768px) {
    .session-card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .session-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

/* Estilo para el modal */
.modal-content {
    background-color: #343a40; 
    color: white; 
}

.modal-body {
    background-color: #000000; 
    color: white; 
    padding: 20px;
}

.modal-header {
    background-color: #000000; 
    color: #ff9900; 
}

.modal-footer {
    background-color: #343a40; 
}


.modal-body p, .modal-body h5, .modal-body h6 {
    color: white; 
}

#sessionModal .modal-content {
    background-color: #343a40; 
    color: white; 
    border-radius: 10px; 
    padding: 20px; 
    font-size: 16px; 
}

#sessionModal h5 {
    color: orange; 
    margin-bottom: 20px; 
}

#sessionModal p {
    margin: 10px 0; 
    line-height: 1.5; 
}

#sessionModal .modal-footer {
    border-top: 1px solid #495057; 
    padding: 10px; 
}


@media (max-width: 768px) {
    .modal-dialog {
        max-width: 90%; /* Ancho máximo del modal en pantallas pequeñas */
    }
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
}

.btn-delete:hover {
    background-color: darkred;
}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #ff9900;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
