/* General styles for dashboard */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(13deg, rgba(0,0,0,1) 0%, rgba(19,19,19,1) 20%, rgba(19,19,19,1) 62%, rgba(0,0,0,1) 100%);
    color: #d8d8d8;
}

/* Sidebar styles */
.sidebar {
    height: 100vh;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
}

.sidebar-header h2 {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
    padding: 15px 10px;
}

.nav-link.active {
    background-color: #ff9900;
    border-radius: 4px;
}

/* Card styles */
.card {
    border: none;
    border-radius: 8px;
}

.card-body h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body p {
    font-size: 1rem;
}

/* Main content */
main h1 {
    font-size: 2rem;
    color: #f1f1f1;
}

/* General Body Map Styles */
.body-map {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

/* Individual SVG containers */
.front-view, .back-view {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #e0e0e0fb;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

/* Making sure SVGs take up full space */
.front-view svg, .back-view svg {
    width: 100%;
    height: auto;
}

/* Sidebar mobile adjustments */
@media (max-width: 767px) {
    #sidebarMenu {
        display: none; /* Hide the sidebar on mobile */
    }

    .sidebar-toggle {
        display: block; /* Add a toggle button for the sidebar */
    }

    .front-view, .back-view {
        width: 90%;
        margin: 0 auto;
    }
}


.muscle {
    fill: #ebebeb;
    stroke: #000;
    stroke-width: 2;
    transition: 0.3s;
}

.muscle:hover {
    fill: rgba(255, 0, 0, 0.5);
}


.highlight {
    fill: rgba(255, 0, 0, 0.5);
}

.no-muscle {
    fill: none;
    stroke: #000;
    stroke-width: 2;
}

.ellipse {
    display: none;
}