body {
    background-color: #302f2f;
}

.sidebar {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
 position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Toma el 100% de la altura de la ventana */
    width: 222px; /* Ancho del sidebar */
}

.sidebar-header h2 {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
    padding: 15px 10px;
}

.nav-link.active {
    color: white !important;
    background-color: #ff9900;
    border-radius: 4px;
}